
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    <section id="intro" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <h2 id="latest-blog-post">What's here?</h2>

        <section class="text-justify">
          <br/>
          <p class="text-big">I sometimes commit to record my learnings on my leisure time. <p>
          <p class="text-big">What would nike say if it were a coffee shop? - Just brew it. <p>
        </section>

      </div>
    </div>
    </section>

    {% for p in site.pages_list %}
      {% for page in site.pages %}
        {% if p[1] == page.section-type %}
          {% include {{ page.path }} %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
